/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */

.header {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
	.header__main {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  align-items: center;
	  color: #d04f4f;
	}
	.header__main:hover,
	.header__main:focus {
	  outline: none;
	  transform: scale(1.05);
	  transition: transfrom 2000ms ease-in-out;
	}
	.header__logo {
	  width: 51px;
	  height: 47px;
	}
	.header__title {
	  font-family: 'DM Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	  font-size: 2.25rem;
	  font-weight: 700;
	  margin: 0;
	}

	/* main */

	.search {
		margin-bottom: 1rem;
	  }

	  .search__input {
		width: 100%;
		height: 4.3rem;
		font-size: 1.1rem;
		font-weight: 400;
		color: black;
		background-color: #e7e7e7;
	  }
	  .search__logo {
		float: right;
		transform: translateY(-185%);
		height: 1.5rem;
		margin-right: 20px;
	  }
  
  

/* base */

html {
	font-size: 100%;
	box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
	box-sizing: inherit;
  }
  
  body {
	margin: auto;
	padding: 0;
	font-family: 'Lato', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	max-width: 1440px;
  }
  
  .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1240px;
	margin: auto;
  }
  
  input {
	border: none;
	border-radius: 5px;
	font-family: 'Lato', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
	input:focus,
	input:hover {
	  outline: none;
	}
  
  
  button {
	border: none;
	border-radius: 5px;
	color: inherit;
	background-color: inherit;
}
	button:focus,
	button:hover {
	  outline: none;
	}
  
  
  a {
	text-decoration: none;
	color: black;
  }
  
  li {
	list-style-type: none;
  }

 /* cards */

  .allRecipesCards {
	display: flex;
	justify-content: space-between;
	margin: auto;
	flex-wrap: wrap;
	position: absolute;
	max-width: 1240px;
	top: 23rem;
  }
  .card {
	border-radius: 0.3rem;
	overflow: hidden;
	max-width: 23.75rem;
	margin-bottom: 2rem;
}
	.card__anchor {
	  cursor: pointer;
	}
	.card__bg {
	  height: 178px;
	  background-color: #c7bebe;
	}
	.card__recipe {
	  display: flex;
	  flex-direction: column;
	  height: 186px;
	  overflow: hidden;
	  padding: 1.2rem;
	  padding-top: 1rem;
	  background-color: #e7e7e7;
	}
	.card__title {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  font-size: 1.13rem;
	  font-weight: 400;
	  white-space: nowrap;
	  line-height: 1.4rem;
	}
	  .card__h3 {
		overflow: hidden;
		text-overflow: ellipsis;
	  }
	  .card__time {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-self: center;
		font-weight: 700;
	  }
	  .card__clock {
		margin-right: 0.5rem;
		font-weight: 400;
	  }
	
	.card__content {
	  display: flex;
	  justify-content: space-between;
	  align-content: center;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  margin-top: 1.5rem;
	}
	.card__ingredients {
	  font-size: 0.75rem;
	  width: 40%;
	}
	.card__description {
	  font-family: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	  hyphens: auto;
	  font-size: 0.75rem;
	  height: 109px;
	  line-height: 0.9rem;
	  width: 50%;
	}
 
  
  .ingredientsList {
	display: flex;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0.75rem;
	line-height: 0.9rem;
}
	.ingredientsList__item {
	  font-weight: 700;
	}
	.ingredientsList__quantity {
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	.ingredientsList__units {
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

/* dropdown */

.dropdown {
	display: flex;
	margin-bottom: 1rem;
	z-index: 10;
}
	.dropdown__main{
	  margin-right: 2rem;
	}
	.dropdown__input {
	  border: none;
	  height: 4.3rem;
	  width: 9.6rem;
	  font-size: 18px;
	  font-weight: 700;
	  padding: 0 22px 0 16px;
	  color: white;
	  background-color:inherit;
	}
	.dropdown__input::placeholder {
		color: white;
	  }

	.dropdown__button {
	display: flex;
	justify-content: center;
	align-items: center;
}
	.dropdown__button--ingredients {
	  background-color: #3282f7;
	}
	.dropdown__button--appliances {
	  background-color: #68d9a4;
	}
	.dropdown__button--ustensils {
	  background-color: #ed6454;
	}
	
	.dropdown__icon {
	  color: white;
	  cursor: pointer;
	  font-size: 1.15rem;
	  margin-right: 1rem;
	}
  
	.form {
	  display: none;
	  align-items: center;
	  justify-content: space-between;
	  position: relative;
	  width: 100%;
	  overflow: hidden;
	}
	  .form__label {
		display: none;
		font-size: 1.15rem;
		color: white;
		padding: 1rem 1rem 1rem 0;
	  }
	  .form__input {
		display: flex;
		justify-content: space-between;
		font-size: 1.15rem;
		width: 100%;
		color: white;
		height: 4.3rem;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
		.form__input--ingredients {
		  background-color: #3282f7;
		}
		.form__input--appliances {
		  background-color: #68d9a4;
		}
		.form__input--ustensils {
		  background-color: #ed6454;
		}
		.form__input::placeholder {
		  color: white;
		  opacity: 50%;
		}
	  
	  .form__arrow {
		color: white;
		cursor: pointer;
		border-radius: 0;
		border-top-right-radius: 5px;
		height: 4.3rem;
		font-size: 1.15rem;
	}
		.form__arrow--ingredients {
		  background-color: #3282f7;
		}
		.form__arrow--appliances {
		  background-color: #68d9a4;
		}
		.form__arrow--ustensils {
		  background-color: #ed6454;
		}
		.form__arrow__chevron-up{
		  margin-right: 2rem;
		}
	  
	
	.dropdown__menu {
	  display: none;
	  pointer-events: none;
	  grid-template-columns: repeat(3, 1fr);
	  grid-gap: 10px;
	  border-radius: 5px;
	  padding: 0 0 10px 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	  overflow: hidden;
	}
	  .dropdown__menu--ingredients {
		background-color: #3282f7;
		color: white;
	  }
	  .dropdown__menu--appliances {
		background-color: #68d9a4;
		color: white;
	  } 
	  .dropdown__menu--ustensils {
		background-color: #ed6454;
		color: white;
	  }
	  .dropdown__menu__items {
		pointer-events: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1.15rem;
		font-weight: 400;
		cursor: pointer;
	  }
	
  
  
  @media (max-width:1200px) {
  .dropdown{
	justify-content: center;
  }
  .dropdown__menu{
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
  }
  .allRecipesCards{
	justify-content: space-evenly;
  }
  }
  
  
  @media (max-width:800px) {
	.dropdown{
	  justify-content: center;
	}
	.dropdown__menu{
		grid-template-columns: repeat(1, 1fr);
		column-gap: 10px;
	  }
	}
  
	@media (max-width:759px) {
	  html{
		padding: 0 2rem 0 2rem;
	  }
  .dropdown{
	flex-direction: column;
}
	.dropdown__menu{
	  grid-template-columns: repeat(3, 1fr);
	  column-gap: 10px;
	}
   .dropdown__main{
	 margin-right: 0;
   }
	.dropdown__button{
	  justify-content: space-between;
	  margin-bottom: 2rem;
	  width: 100%;
	}
  
  .allRecipesCards{
	margin-top: 15rem;
	padding: 0 2rem 0 0;
  }
  .card{
	max-width: 100%;
  }
	}

	/* tags */

  .tags{
	display: flex;
}
	.tags__ul {
		display: flex;
		justify-content: space-between;
		color: white;
		font-size: 0.9rem;
		margin-bottom: 1rem;
	}
	.tags__li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 5px;
		padding: 0.5rem 1rem 0.5rem 1rem;
		margin-right: 0.5rem;
	}
	.tags__li--ingredients {
		background-color: #3282f7;
	}
	.tags__li--appliances {
		background-color: #68d9a4;
	}
	.tags__li--ustensils {
		background-color: #ed6454;
	}

.fa-times-circle {
	font-size: 1.2rem;
	margin-left: 1rem;
	cursor: pointer;
}

